

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Signup</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Signup</button>
                        <span id="error-message" class="text-danger" style="display: none;">Check your credentials</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // Function to display error message
    function displayErrorMessage() {
        document.getElementById('error-message').style.display = 'block';
    }
</script>
{% endblock %}
